MONGODB_URI= mongodb+srv://yaramahdi22:emanhatem77@cluster0.w1zumia.mongodb.net/?appName=Cluster0
           
JWT_SECRET=your_super_secret_key_here
PORT=5000
NODE_ENV=development
FRONTEND_URL=https://your-store-domain.com
